body{background-color:gray;}


#title{background-color:#C2BBBC;
width:175px;
height:100px;
color:white;
text-align:center;
background-position:center;}


#instructions{background-color:#D9CEC5;
margin-right:300px;
padding:20px;}

#randomNumber{background-color:#8CCEDF;
margin-right:800px;
height:120px; }

#lossCounter{background-color:#D8214C;
margin-right:1000px;
height:150px;
margin-left:;
margin-bottom:;}

#winCounter{background-color:#D8214C;
margin-right:1000px;
height:150px;
margin-left:;
margin-bottom:;}

#totalScore{background-color:#353E55;
margin-right:900px;
color:white;}

#scoreNumber{background-color:#353E55;
margin-right:900px;
height:150px;
color:white;}

#crystals{background-color:#353E55;
margin-right:800px;
height:100px;}
#img1{width:40px;
}
#img2{width:60px;}

#img3{width:60px;}

#img4{height:70px;}

